body {
    background-color: #1a1a1a; /* Dark background */
    color: #e0e0e0; /* Light text color */
    font-family: Arial, sans-serif;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

h1 {
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    text-align: center; 
}